html, body, #map-canvas {
  height: 100%;
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px
}

#panel {
  position: absolute;
  float: right;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
