{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An app for planning your next Road Trip!">
    <meta name="author" content="James Warren">
    <title>Road Trip</title>
    <!-- Core CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Google Map API -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="{% static 'js/script.js' %}"></script>

  </head>
  <body>
    <div id="control">
      <form action="#" onsubmit="calcRoute();" id="panel">
        <div id="route">
          <label for="start">Start: </label><br /><input type="text" id="start"><br />
          <label for="end">End: </label><br /><input type="text" id="end"><br />
          <label for="waypoint">Waypoint: </label><br /><input type="text" id="waypoint"><br />
          <input type="submit" value="Calculate Route">
        </div>
        <div id="requirements">
          <input type="checkbox" id="option1"><label for="option1"> Option1</label>
        </div>
      </form>
    </div>

    <div id="directions-panel"></div>
    <div id="map-canvas"></div>

  </body>
</html>